*{
    
}

body{
    background-image: url("./static/background.svg");
    object-fit: cover;
}

.Map-container{
    height: 100vh;

}
/* .Map{
    height: 80vh;
} */

.state {
    fill: #9865ff;
    /* #f9ff66 */
    stroke: #ffffff;  
    stroke-width:0.5;
    transition: ease-in-out 0.2s;
}

.state:hover {
    fill: #fd545c!important;
    opacity: 1.0!important;
    /* stroke: red; */
    z-index: 9999!important;
    /* shadow: 0 0 20px rgba(133, 133, 133,0.5); */
    transition: ease-in-out 0.2s;
}

.Map{
    position: absolute;
    top: 0;
    height: 100vh;
    /* left:50%; */
    /* transform: translate(-50%) */
}

/* .Events {
    position: absolute;
    top: 0;
    height: 90vh;
} */

.event{
    cursor: pointer;
    fill: #ff65a0;
    
    stroke: #ffffff;
    stroke-width:0.5;
    opacity: 0.4;
    transition: ease-in-out 0.2s;

}

.event:hover{
    opacity: 1.0;
    radius: 5px;
    transition: ease-in-out 0.2s;
    /* transform: scale(2.0) */
}

button{
    width:10vw;
    height:10vh;
}

.hehe{
    /* position: absolute; */
    /* top:150vh; */
    z-index: 99999;
    /* margin:280px; */
}